.mySwiper {
    width: 100%;
    height: 400px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySwiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

@media screen and (max-width:1280px) {
    .mySwiper .swiper-slide img,
    .mySwiper {
        height: 300px;
    }
}

@media screen and (max-width:1024px) {
    .mySwiper .swiper-slide img,
    .mySwiper {
        height: 260px;
    }
}

@media screen and (max-width:768px) {
    .mySwiper .swiper-slide img,
    .mySwiper {
        height: 220px;
    }
}

@media screen and (max-width:640px) {
    .mySwiper .swiper-slide img,
    .mySwiper {
        object-position: center;
        height: 120px;
    }
}